body{
    margin: unset;
    height: unset;
    padding: unset;
    background-size: cover;
  background-image: url(pexels-rodolfo-quirós-2330137.jpg);
}
.container-1{
    font-family: Caprasimo;
    color: white;
    display: flex;
    margin-left :12%;
    margin-top: 15%;
    font-size: 25px;
}
.container-2{
    font-size: 20px;
    color: white;
    display: flex;
    margin-left: 12%;
}
.container-3{
    display: block;
    margin-left: 55%;
    margin-top: -15%;
    font-size: 19px;
    color: aliceblue;
    line-height: 40px;
}
