*{
    margin: unset;
    padding: unset;
}
body{
    background: rgb(230, 226, 226);
    background-size: cover;
}
.container-wrapper-1{
    border-radius: 10px;
    width: 90%;
    max-width: 250px;
    max-height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 50px 60px 70px;
    text-align: center;
}
.logo{
    color: white;
    background-color: black;
    width: 15%;
    height: 15%;
    margin-left: 45%;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.input input{
   width: 240px;
   height: 35px;
   margin-top: 20px;
   background-color: transparent;
   border-bottom: 1px solid black;
   border-top: none;
   border-right: none;
   border-left:none ;
}
.button{
    margin-top: 30px;
    width: 80%;
    height: 5vh;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(90deg, hsl(197deg 100% 63%) 0%, hsl(208deg 100% 60%) 17%, hsl(294deg 100% 55%) 100%);
}
.fa-solid{
    margin-top: -20px;
}
.button a{
    color: white;
    text-decoration: none;
}
.sign-up{
    margin-top: 36%;
    color: rgb(39, 38, 37);
}
.sign-up a{
    text-decoration: none;
    color: black;
    font-weight: 20;
}
